{% extends "mcshenzhous/base.html" %}

{% block header %}
<p>-</p>
<h1>内部人员介绍</h1>
{% endblock header %}

{% block content %}
<li><a href="{% url 'mcshenzhous:op1' %}">小宾冰的兵哥哥</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op2' %}">神州_爱天骑</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op3' %}">神州_二狗</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op4' %}">eatsalt</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op5' %}">DONY010</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op6' %}">初恋_狼王的荣耀</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op7' %}">吟诗者_shadow</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op8' %}">吟诗者_电脑</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op9' %}">小可爱来了哇</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op10' %}">二狗我宣你</a></li>
<hr>
<li><a href="{% url 'mcshenzhous:op11' %}">DGKLPD</a></li>

{% endblock content %}