{% extends "mcshenzhous/base.html" %}

{% block header %}
<p>-</p>
<h1>服务器介绍</h1>
<p>作者:DGKLPD</p>
{% endblock header %}

{% block content %}
<p>大家好，我是DG,想必一些老玩家已经很熟悉我了。我是神州最早的一批管理员之一，也是本服第一个指令师。虽然现在已经不再玩mc了，但也希望能尽微薄之力帮助本服建造一个官网。</p>
<p>这个暑假是神州的一周年，本服是去年７月五号开的，已有一年的岁数了。这一年里，仍然能坚守在自己岗位上的管理员已经不多了，虽然有一些也再也看不到他们的身影了，但是往事还是历历在目</p>
<img src="static/shenzhou/b4.jpg" width="400" alt=""/>
<p>像其他的服务器一样，这个服务器也有辛酸的发展历程，虽然可能没有其他服务器好没有得到相应的成果，但是时间还是没有辜负我们的付出。我没有来之前的那段时间，网易mc还在开发阶段，指令和建筑都比较落后，所以我来的时候，全服基础和指令服仍然只有'tp'这样的基础指令</p>
<p>在我和其他指令师的共同努力下，全服的指令设施很快就完善起来，最后到今年寒假过完的时候，服务器的外观样式已经非常不错了</p>
<p>但是因为网易一次特殊的更新，服务器不再可以自由命名了，从此再无‘神州大陆’一服务器，ｈ这事服务器又来了一次重大的发展，我们引入了CAIMEO制作的JS插件FastBuilder。这事开创服务器前所未有的历史，我们运用了一个编程插件</p>
<p>再以后我转行学习编程去了，，对神州的更新不在了解。听说最近op们又开始建造新主城了。有兴趣的人可以去看看</p>
<img src="static/shenzhou/b5.jpg" width="400" alt=""/>
<p>总之，我仍希望能有更多的人加入到神州服务器中，能有更多的人才成为神州的内部人员。</p>
<p>让我们一起努力，创一代mc经典！</p>
<p>2019.8.3</p>
<p>FastBuilder网址:<a href="https://github.com/CAIMEOX/FastBuilder.git">https://github.com/CAIMEOX/FastBuilder.git</p>
{% endblock content %}