{% extends "mcshenzhous/base.html" %}
{% block header %}<p>-</p><h1>声明</h1>{% endblock header %}
{% block content %}
<p>作者: DGKLPD</p>
<p>发布于: 2019.8.28</p>
<p>在此向所有访问这个网站的人做出一下郑重声明:</p>
<p>1.此网站发布部分前端代码，可以进行借鉴参考。</p>
<p>2.此网站采用django自带的安全系统，不对表单等个人信息的提交处提供信息保护</p>
<p>3.此网站为DGKLPD赠与神州网络开发团队的作品，最终解释权归神州网络开发团队所有</p>
<p>最后提醒大家不要在表单中提交个人信息，以防信息泄露。此网站不为此作担保！</p>
<p>网络证书:</p>
<img src="static/license/b1.jpeg" width="400" alt=""/>
<img src="static/license/b2.jpeg" width="400" alt=""/>
{% endblock content %}
